<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Cupid.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Cupid.Properties.Settings.CUPIDConnectionString" connectionString="Data Source=.;Initial Catalog=CUPID;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Cupid.Properties.Settings.CUPIDConnectionString1"
            connectionString="Data Source=20.248.181.4,1433;Initial Catalog=CUPID;User ID=cupid;Password=sondaika1"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <Cupid.Properties.Settings>
      <setting name="CupidOnline" serializeAs="String">
        <value>Data Source = 20.248.181.4,1433; Initial Catalog = CUPID; User ID = cupid; Password = sondaika1</value>
      </setting>
    </Cupid.Properties.Settings>
  </userSettings>
</configuration>